<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 second" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <property name="LOG_ROOT" value="/root/app/logs"/>
    <property name="LOG_PATH" value="helloworld"/>
    <property name="LOG_HOME" value="${LOG_ROOT}/${LOG_PATH}"/>

    <appender name="FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                [ %d{yyyy-MM-dd HH:mm:ss.SSS} ] [ %-5level] [ %-4line] --- [ %21thread ] %logger{96}: %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <file>${LOG_PATH}/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/server.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>

        <prudent>true</prudent>
    </appender>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                [ %d{yyyy-MM-dd HH:mm:ss.SSS} ] [ %-5level] [ %-4line] --- [ %21thread ] %logger{96}: %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/ERROR.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <prudent>true</prudent>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [ %-5level] [ %-4line] --- [ %21thread ] %logger{32}: %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-INFO"/>
        <appender-ref ref="FILE-ERROR"/>
    </root>

    <!-- 开发、测试环境 -->
    <springProfile name="dev,test">
        <logger name="com.yss.ms" level="TRACE"/>
        <logger name="com.mysql" level="WARN"/>
        <logger name="com.alibaba" level="DEBUG"/>

        <logger name="tk.mybatis" level="WARN"/>
        <logger name="org.apache.commons" level="WARN"/>
        <logger name="org.apache.xmlbeans" level="WARN"/>
        <logger name="org.springframework.web" level="INFO"/>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="com.yss.ms" level="INFO"/>
        <logger name="com.mysql" level="INFO"/>
        <logger name="com.alibaba" level="INFO"/>

        <logger name="tk.mybatis" level="WARN"/>
        <logger name="org.apache.commons" level="INFO"/>
        <logger name="org.apache.xmlbeans" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
    </springProfile>
</configuration>